@mixin flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 
 @mixin btn {
    border: 2px solid $color-darkblue;
    font-size: 20px;
    font-weight: bold;
    color: $color-white;
    background: $color-darkblue;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
 }
 
 @mixin btn-hover {
    border: 2px solid $color-blue;
    color: $color-darkblue;
    background: $color-blue;
 }
 
 @mixin form-select {
    font-size: 15px;
    font-weight: bolder;
    border: 2px solid $color-blue;
    border-radius: 5px;
    color: $color-darkblue;
    background: $color-blue;
 }
 
 @mixin form-input {
    font-size: 17px;
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
 }