.header {
    &__modal-wrapper {
       position: fixed;
       background-color: $color-blue;
       z-index: 1;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       backdrop-filter: blur(2.5px);
    }
 
    &__modal {
       position: relative;
       background-color: $color-white;
       width: 600px;
       margin: auto;
       transform: translateY(-50%);
       top: 50%;
       padding: 20px;
       box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
       border-radius: 10px 0 10px 10px;
       text-align: center;
    }
 
    &__modal-text {
       font-weight: bold;
       color: $color-darkblue;
       margin: 30px auto;
       font-size: 20px;
    }
 
    &__modal-input {
       @include form-input;
       border: none;
       border-bottom: 1px solid $color-black;
       outline: none;
       background: transparent;
    }
 
    &__btn-submit {
       font-size: 20px;
       font-weight: bold;
       padding: 5px 20px;
       margin: 10px auto;
       color: $color-white;
       border: 5px solid $color-darkblue;
       border-radius: 5px;
       background: $color-darkblue;
    }
 
    &__modal-close {
       position: absolute;
       top: -35px;
       right: -35px;
       width: 33px;
       height: 33px;
       font-size: 30px;
       font-weight: 700;
       color: $color-darkblue;
       border: 2px solid;
       background: transparent;
       border-radius: 35% 35% 35% 0;
       cursor: pointer;
    }
 
    &__btn, &__btn-create {
       @include btn;
       padding: 10px 30px;
      }
 
    &__btn:hover, &__btn-create:hover {
       @include btn-hover;
    }
 
}