.visit {
    position: relative;
    padding: 20px;
    border: 3px solid $color-darkblue;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.2);
    cursor: move;
    color: white;
 
    &__head {
       font-weight: 900;
       font-size: 20px;
       margin-bottom: 20px;

    }
 
    &__text {
       display: block;
       color: $color-darkblue;
       font-weight: bold;
       font-size: 15px;
       margin-bottom: 15px;
    }
 
    &__text:first-child {
       font-size: 40px;
    }
 
    &__btn {
       @include btn;
       background: $color-blue;
       padding: 5px 7px;
       font-size: 13px;
       border: 2px solid $color-blue;
    }
 
    &__btn-edit {
       @include btn;
       background: $color-blue;
       float: right;
       padding: 5px 7px;
       font-size: 13px;
       border: 2px solid $color-blue;
    }
 
    &__btn-delete {
       @include btn;
       position: absolute;
       top: 3px;
       right: 3px;
       padding: 3px 7px;
       font-size: 10px;
       border-radius: 0 50%;
       background: $color-blue;
    }
 
    &__btn:hover, &__btn-delete:hover, &__btn-edit:hover {
       @include btn-hover;
    }
 }
 
 .selected {
    opacity: 0.6;
 }